@using PasswordManager.Web.Views.Authentication
@using PasswordManager.Web.Views.Shared

@model LoginModel
@{
    ViewData["Title"] = Model.IsKeyDataExist ? "Login" : "Init";
}

<div>
    @await Html.PartialAsync("/Views/Shared/InputForm.cshtml", new InputFormModel("master-password", "password", "Master password")
{
        NeedShow = true,
        NeedVerify = !Model.IsKeyDataExist
    })

    <input type="button" value="@(Model.IsKeyDataExist ? "Login" : "Init")" onclick="login('@(Model.ReturnUrl)')" />
</div>
