@page
@using PasswordManager.Web.Pages
@using PasswordManager.Web.Pages.Shared

@model AccountModel
@{
    ViewData["Title"] = "New Item";
}

@Html.AntiForgeryToken()

<div>
    @await Html.PartialAsync("Shared/InputForm.cshtml", new InputFormModel("account-data-name", "text", "Account name"))
    @await Html.PartialAsync("Shared/InputForm.cshtml", new InputFormModel("account-data-login", "text", "Login") { NeedCopy = true })
    @await Html.PartialAsync("Shared/InputForm.cshtml", new InputFormModel("account-data-password", "password", "Password")
    {
        NeedShow = true,
        NeedCopy = true,
        NeedVerify = true
    })

    <input type="button" value="@(Model.AccountId == -1 ? "Add" : "Update")" onclick="postAccountData(@(Model.AccountId))" />
</div>

@await Html.PartialAsync("Shared/PasswordGenerator.cshtml")

<script>
    onload = async () => { await getAccountData(@(Model.AccountId)); };
</script>
