@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@Html.AntiForgeryToken()

<table id="items-table" border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
</table>

<script>
    onload = async () => { await getHeaders(); };
</script>
