@page
@model PasswordManager.Web.Pages.ItemModel
@{
    ViewData["Title"] = "New Item";
}

<div>
    <div class="row">
        <div class="column">
            <label for="account-data-name">Account name</label>
        </div>
        <div class="column">
            <input id="account-data-name" placeholder="Account name" type="text" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            <label for="account-data-login">Login</label>
        </div>
        <div class="column">
            <input id="account-data-login" placeholder="Login" type="text" />
            <input type="button" value="Copy" onclick="copyToClipboard('account-data-login')" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            <label for="account-data-password">Password</label>
        </div>
        <div class="column">
            <input id="account-data-password" placeholder="Password" type="password" />
            <input type="checkbox" onclick="showPassword('account-data-password')" />
            <input type="button" value="Copy" onclick="copyToClipboard('account-data-password')" />
            <input type="button" value="Verify" onclick="verifyPassword('account-data-password')" />
        </div>
    </div>

    <input type="button" value="@(Model.AccountId == -1 ? "Add" : "Update")" onclick="postAccountData(@(Model.AccountId))" />
</div>

@await Html.PartialAsync("Shared/_PasswordGenerator.cshtml")

<script>
    onload = async () => { await getAccountData(@(Model.AccountId)); };
</script>
