@page
@model PasswordManager.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

@Html.AntiForgeryToken()

<div>
    <div class="row">
        <div class="column">
            <label for="master-password">Master password</label>
        </div>
        <div class="column">
            <input id="master-password" placeholder="Master password" type="password" />
            <input type="checkbox" onclick="showPassword('master-password')" />
        </div>
    </div>

    <input type="button" value="Login" onclick="logon('@(Model.ReturnUrl)')" />
</div>
