@page
@model PasswordManager.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form method="post" enctype="multipart/form-data">
    <input id="password-box" asp name="masterPassword" type="password" placeholder="Master password" class="input-form" />
    <input type="checkbox" onclick="showPassword('password-box')" />
    <br/>
    <br/>
    <input type="submit" value="Login" />
</form>

<p style="color: red">@Model.AlertMessage</p>
