@page
@using PasswordManager.Web.Pages
@using PasswordManager.Web.Pages.Shared

@model LoginModel
@{
    ViewData["Title"] = Model.IsMasterKeyDataExists ? "Login" : "Init";
}

@Html.AntiForgeryToken()

<div>
    @await Html.PartialAsync("Shared/InputForm.cshtml", new InputFormModel("master-password", "password", "Master password")
    {
        NeedShow = true,
        NeedVerify = !Model.IsMasterKeyDataExists
    })

    <input type="button" value="@(Model.IsMasterKeyDataExists ? "Login" : "Init")" onclick="logon('@(Model.ReturnUrl)')" />
</div>
