@page
@using PasswordManager.Web.Pages
@using PasswordManager.Web.Pages.Shared

@model LoginModel
@{
    ViewData["Title"] = "Login";
}

@Html.AntiForgeryToken()

<div>
    @await Html.PartialAsync("Shared/InputForm.cshtml", new InputFormModel("master-password", "password", "Master password")
{
        NeedShow = true,
        NeedVerify = true
    })

    <input type="button" value="Login" onclick="logon('@(Model.ReturnUrl)')" />
</div>
