<div>
    <h2>Password generator</h2>

    @await Html.PartialAsync("InputForm.cshtml", new InputFormModel("password-generator-length", "number", "Length", "16"))
    @await Html.PartialAsync("InputForm.cshtml",
        new InputFormModel("password-generator-use-lower-letters", "checkbox", "Use lower letters (e.g. abc)", "true"))
    @await Html.PartialAsync("InputForm.cshtml",
        new InputFormModel("password-generator-use-upper-letters", "checkbox", "Use upper letters (e.g. ABC)", "true"))
    @await Html.PartialAsync("InputForm.cshtml",
        new InputFormModel("password-generator-use-numbers", "checkbox", "Use numbers (e.g. 012)", "true"))
    @await Html.PartialAsync("InputForm.cshtml",
        new InputFormModel("password-generator-specific-characters", "text", "Use specific characters (e.g. !?#)",
            "`~!@@#$%^&*+-/.,\\{}[]();:?<>\"'_"))

    <input type="button" value="Generate" onclick="generatePassword()" />
    <input type="button" value="Copy" onclick="copyToClipboard('password-generator-result')" /><br /><br />
    <input type="password" id="password-generator-result" class="input-form" readonly />
    <input type="checkbox" onclick="showPassword('password-generator-result')" /><br />
    <p id="password-generator-verify-result" />
</div>
